.button {
    padding : 1rem;
    border: 1px solid black;
    text-transform: capitalize;
    background-color: white;
    cursor: pointer;
}

section {
    text-align: center;
}

.drinks-container {
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    margin : 2rem auto;
}

.drinks-container .drink {
    max-height: 300px;
}
